<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body data-home-page="login.html" data-home-page-title="Home" class="u-body u-xl-mode"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <%- include('../partials/navbar', {loggedin:loggedin}); %>
        <section>
            <h1 align="center">Food Blog</h1>
        </section>
        <div>
            <% for(var i=0; i<test.length; i++) { %>
                <div class="posts">
                    <h3 align="center"><%= test[i].title%></h3>
                    <p>Written by <%= test[i].author%> </p>
                    <%if(locals.test[i].img){%>
                    <img src="data:image/<%=test[i].img.contentType%>;base64,
                     <%=test[i].img.data.toString('base64')%>">
                    <%}%>
                    <p><%= test[i].description%></p>
                    <hr class="rounded1">
                    <i onclick="likedislike(this)" class="fa fa-thumbs-up"></i>
                    <a href="/editpost/?id=<%=i%>">Edit</a>
                    <script>
                        var postNumber = i;
                    </script>
                    <a href="/deletepost">Delete</a>
                </div>
                <br>
            <% } %>
        </div>
</div>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>