<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body data-home-page="login.html" data-home-page-title="Home" class="u-body u-xl-mode"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <%- include('../partials/navbar', {loggedin:loggedin, profilePicture:profilePicture}); %>
        <section>
            <h1 align="center">Food Blog</h1>
        </section>
    <p><%= error%></p>
        <div>
            <% for(var i=0; i<posts.length; i++) { %>
                <div class="posts">
                    <h3 align="center"><%= posts[i].title%></h3>
                    <p>Written by <%= posts[i].author%> </p>
                    <%if(locals.posts[i].img){%>
                    <img src="data:image/<%=posts[i].img.contentType%>;base64,
                     <%=posts[i].img.data.toString('base64')%>">
                    <%}%>
                    <p><%= posts[i].description%></p>
                    <hr class="rounded1">
                    <i onclick="likedislike(this)" class="fa fa-thumbs-up"></i>
                    <a href="/editpost/?id=<%=i%>">Edit</a>
                    <script>
                        var postNumber = i;
                    </script>
                    <a href="/deletepost/?ide=<%=i%>">Delete</a>
                </div>
                <br>
            <% } %>
        </div>
</div>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>