<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body data-home-page="login.html" data-home-page-title="Home" class="u-body u-xl-mode"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <%- include('../partials/navbar', {loggedin:loggedin}); %>
    <section>
        <h1 align="center">Your Profile</h1>
    </section>

    <div align="left">
        <img src="./img/trollface.jpg" alt="Profile Picture" width="200" height="200">
    </div>

    <div class="posts">
        <table>
            <tbody>
            <tr>
                <th>Your Username: </th>
                <td><%= username%></td>
            </tr>
            <tr>
                <th>Your Email Address: </th>
                <td><%= email%>></td>
            </tr>
            <tr>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="/logout">Log out</a>

</div>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>